.route-switch-enter {
    opacity: 0;
}

.route-switch-enter-active {
    transition: opacity 500ms ease-in;
    opacity: 1;
}

.route-switch-exit {
    opacity: 1;
}

.route-switch-exit-active {
    transition: opacity 500ms ease-out;
    opacity: 0;
}